--
-- PostgreSQL database dump
--

\restrict 11IiIQ0rJTGdxTTqiXmD219asxkRpn41amMcLkcZmFCnr5EY5UvxIafiP6hb9U8

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: midadmin
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    name character varying(100),
    email character varying(100),
    "position" character varying(100),
    department character varying(100),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.employees OWNER TO midadmin;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: midadmin
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employees_id_seq OWNER TO midadmin;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: midadmin
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: midadmin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100),
    email character varying(150),
    password character varying(255),
    role character varying(50) DEFAULT 'Employee'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO midadmin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: midadmin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO midadmin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: midadmin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: midadmin
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: midadmin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: midadmin
--

COPY public.employees (id, name, email, "position", department, created_at) FROM stdin;
1	Ricky	ricky@midstudio.com	Director	Management	2026-07-25 19:19:49.69426
2	John Tan	john@midstudio.com	Site Manager	Construction	2026-07-25 19:57:15.023679
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: midadmin
--

COPY public.users (id, name, email, password, role, created_at) FROM stdin;
1	Ricky	admin@midstudio.com	$2b$10$bS8k7id8roCzfjXu4DeQOukABbAQmghSW8LvgDBhCGTLUJdPkJKsK	Admin	2026-07-25 20:00:59.510503
\.


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: midadmin
--

SELECT pg_catalog.setval('public.employees_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: midadmin
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: midadmin
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: midadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: midadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 11IiIQ0rJTGdxTTqiXmD219asxkRpn41amMcLkcZmFCnr5EY5UvxIafiP6hb9U8

